 /* Basic Style */

  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  img {
    width: 100%;
    display: block;
  }

  /* Navigation Bar */
  .header {
    font-family: Relaway, sans-serif;
    line-height: 1.7;
    text-align: center;
    position: relative;
    top:0px;
    left:0;
    right:0;
    background: #6e2aff;
    color: white;;
    
  }
  .navbar {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }

  /* Menu */
  .menu {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .menu .nav_list {
    display: flex;
    justify-content: space-between;
  }
  .nav_list li {
    padding: 12px 15px;
  }
  .nav_list li a {
    color: white;
    font-size: .9rem;
  }
  /* toggler */
  .toggler {
    position: fixed;  /* To take it out of the flow so the navbar is minimized */
    visibility: hidden;  /* To hide it completely  */ 
  }

  /* LOGO */
  .logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 25px;
    margin-bottom: 15px;
    filter: invert(100%);
  }
  .logo:hover {
    opacity: 0.8;
  }

  /* Media Query 500px */
  @media screen and (max-width: 780px) {
    /* center the logo */
    .logo {
      margin-left: 48%;  /* to center it */
      z-index: 2; /* in order to still visible even after expanding the menu */
    }

    /* Change the menu to take the whole page */
    .menu {
      width: 100%;
      position: fixed;  /* to take it out of the content of the navbar to make it occupy the whole page */
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding-top: 70px; /* This is equal to the margin+height of the toggler below + 20px for roam as I will overlap the menu with the navbar and will make the navbar z-index higher */
      background: rgba(0,0,0,0.9);
      transform: scale(0); /* To activate it by clicking on the toggler */
      transition: all 0.5s ease;
    }
    .menu .nav_list {
      flex-direction: column;
      width: 80%;
      margin: 0;
      text-align: left;
    }
    .nav_list li {
      padding: 0;   /* To remove its effect from above */
    }

    .nav_list li a{   /* the a selector instead of li to make the whole block clickable */
      padding: 20px 0;
      display: block;
      width: 100%;
      border-top:1px #403f3c solid ;
    }
    .nav_list li a:hover{
      opacity: 0.7;
    }
    /* after setting the menu out of the navbar we had to set the toggler to relative in order to keep it inside the nav bar so it will have height. to locate the toggler at the left, we need to put the navbar to flex and justify-content to flex-start */
    .navbar {
      display: flex; 
      justify-content: flex-start;
    }
    /* setup the hamburger menu */
    /* 1st setup the toggler */
    .toggler {
      visibility: visible; /* to recover the hidden effect made above */
      position: relative;  /* if it is absolute, the parent which is the navbar does not have any height as all its children are made absolute. This happend as we made the main content which is the menu fixed, we took it from the content of the navbar */
      width: 40px;
      height: 30px;
      margin: 10px 0;
      z-index: 100;  /* to make it always on top to be able to click it */
      opacity: 0;
      cursor: pointer;
    }

    /* 2nd setup the hamburger */
    /* setup the parent of the lines */
    .hamburger {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 30px;
      margin-bottom: 10px; 
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2; /* to make it on top of the menu  */
    }

    /* setup the lines */
    .hamburger > div {
      position: relative;
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      width: 100%;
      height: 1px;
      background: white;
      top: -5px;
      transition: all .5s ease;
    }
    .hamburger >div:after {
      content: '';
      position: absolute;
      background: white;
      width: 100%;
      height: 1px;
      bottom: -10px;
    }
    /* to make the lines more grayesh when hovered */
    .toggler:hover + .hamburger>div,
    .toggler:hover + .hamburger>div:after {
      opacity: 0.8;
    }
    /* to make the lines x */
    .toggler:checked + .hamburger>div {
      transform: rotate(45deg);
    }
    .toggler:checked + .hamburger>div:after {
      transform: rotate(90deg);
    }

    /* To activate the menu */
    .toggler:checked ~ .menu {
      transform: scale(1);
    }
  }