
.top-pane {
  background-color: white;
}

.pane {
  display: flex;
  position:absolute;
}
.imgnav{
  height:50px;
  margin-left: 1.5vw;
  margin-top: 5vh;
  width:auto;
  position:absolute;
}
.button {
  background-color: #6e2aff;   /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.choice{
margin-top:25vh;
height:5vh;
width:5vw;
}
.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  height: 50vh;
  width:50vw;
  display: flex;
  background-color: white;
  position:absolute;
}

.editor-container.collapsed {
  flex-grow: 0;
}
#textnav{
  margin-top:26vh;
}
.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #6e2aff;
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}
.editorheader{
  background-color: #6e2aff;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  width:50vw;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: 1rem;
}
.editortext{
  color: white;
  font-size: .9rem;
  font-family: Raleaway;
}
.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}
.mobcontainer{
  padding: 3rem;
}
#mobilescreen
{
width:20vw;
height:60vh;
background:black;
position:relative;
overflow:hidden;
border:2px solid #ccc;
padding:20px 5px 100px 5px;
border-radius:20px;
box-shadow:0px 5px 5px 0px #ccc;
}

#maincontainer
{
background-color: white;
width:19vw;
margin:0 auto;
position:relative;
overflow: hidden;
height:100%;

}
#controlder
{
width:50px;
height:50px;
border-radius:50%;
background:#f2f2f2;
margin:15px auto;
box-shadow:inset 0px 0px 10px 0px #bdbdbd;
border:1px solid #c6c6c6;
}

#speaker
{
width:50px;
height:5px;
border-radius:15px;
background:#f2f2f2;
margin:0px auto 15px;
box-shadow:inset 0px 0px 10px 0px #bdbdbd, inset 0px 5px 0px 0px #bdbdbd;
border:1px solid #c6c6c6;
}
/*Adding new css*/
iframe{border-radius: 30px;}
:root {
  --main-bg-color: #444757;
  --scnd-bg-color: #1E1F26;
  --phone-bg-color: #dfe4ea;
  --phone-width: 250px;
  --phone-ratio: 2;
  --phone-height: calc(var(--phone-width) * var(--phone-ratio));
}

* {
  box-sizing: border-box
}
.phone {
  float:right;
  margin-right:25vw;
  margin-top:5vh;
  width: var(--phone-width);
  height: var(--phone-height);
  background: var(--phone-bg-color);
  display: block;
  border-radius: 30px;
  border: 5px solid var(--scnd-bg-color);
  position: relative;
}

.phone::before {
  content: '';
  position: absolute;
  left: 25%;
  top: 0;
  width: 50%;
  height: 3%;
  background: var(--scnd-bg-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#content{
  height: 100px;
  width:100px;
}